/**
 * Hide Forum ID and Parent ID column
 */
#colloquium-admin-forum-table .forum_id,
#colloquium-admin-forum-table .parent_id{
  display: none;
}

/**
 * Set the column width for edit and delete links
 */
#colloquium-admin-forum-table .link_edit{
  width: 5em;
}

#colloquium-admin-forum-table .link_delete{
  width: 7em;
}